@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.middle-area-div {
  font-family: 'Muli', sans-serif;
}

.middle-area-div .container {
  max-width: 1240px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.middle-area-div a.link-btn {
  font-weight: 600;
  color: #009B99;
  text-decoration: underline;
}

.middle-area-div .d-block {
  display: block;
}

.middle-area-div .text-underline {
  text-decoration: underline;
}

.middle-area-div .col-lg-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.middle-area-div .col-lg-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.middle-area-div .col-lg-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.middle-area-div .col-lg-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.middle-area-div .row-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.middle-area-div .row-cust-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}

.middle-area-div .box-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-left: 4px;
  padding-right: 4px;
}

.bmi-calculator-section {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

.bmi-calculator-section .bmi-calculator-div {
  padding: 0;
  margin: 0;
  background: url("../images/background-pattern01.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

.bmi-calculator-section .bmi-calc-root {
  padding: 50px 0 30px 0;
  margin: 0;
  position: relative;
  min-height: 380px;
}

.bmi-calculator-section .bmi-calc-root h1 {
  margin: 0 auto 20px auto;
  padding: 0 0 20px 0;
  position: relative;
  font-size: 56px;
  font-weight: 300;
  color: #282828;
  letter-spacing: 0;
  text-align: center;
  line-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bmi-calculator-section .bmi-calc-root h1::before {
  content: "";
  background-color: #009B99;
  height: 2px;
  width: 20px;
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.bmi-calculator-section .bmi-calc-root p {
  margin: 0 auto 20px auto;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  max-width: 600px;
  color: #282828;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .calc-group-div {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.04);
  max-width: 980px;
  margin: 40px auto 0px auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .calc-input-group {
  width: calc(100% - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .calc-button-group {
  width: 240px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .form-control {
  color: #2E2E2E;
  font-weight: 400;
  min-height: 64px;
  border-radius: 0px;
  width: 50%;
  font-family: 'Muli', sans-serif;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  outline: none;
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .form-control::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .form-control::-moz-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .form-control:-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .form-control:-moz-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

.bmi-calculator-section .bmi-calc-root .calc-search-form .form-control.border-left {
  border-left: 1px solid rgba(151, 151, 151, 0.2);
}

.bmi-calculator-section .btn.btn-calculate {
  font-family: 'Muli', sans-serif;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 24px;
  background-color: #009B99;
  border: 1px solid #009B99;
  min-height: 54px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bmi-calculator-section .btn.btn-calculate:hover {
  background-color: #038886;
}

.bmi-content-section {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

.bmi-content-section .bmi-content-div {
  padding: 0;
  margin: 0;
}

.bmi-content-section .bmi-content-div::before {
  content: "";
  background: url("../images/Combined-shape01.svg") no-repeat;
  background-size: contain;
  background-position: center;
  height: 65px;
  width: 84px;
  position: absolute;
  left: -40px;
  bottom: 20px;
}

.bmi-content-section .bmi-content-root {
  padding: 50px 0;
  margin: 0;
  position: relative;
}

.bmi-content-section .bmi-content-root .number-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 20px 0;
}

.bmi-content-section .bmi-content-root .number-div h2 {
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  color: #009B99;
  letter-spacing: 0;
  padding: 0 15px 0 0;
  margin: 0;
}

.bmi-content-section .bmi-content-root .number-div span.text-300 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 22px;
  color: #282828;
  letter-spacing: 0;
}

.bmi-content-section .bmi-content-root .text-content-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.bmi-content-section .bmi-content-root .text-content-div h4 {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #282828;
  letter-spacing: 0;
}

.bmi-content-section .bmi-content-root .text-content-div p {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 18px;
  color: #282828;
  letter-spacing: 0;
  line-height: 26px;
}

.bmi-content-section .bmi-content-box {
  padding: 50px 0 60px 0;
  margin: 0;
  position: relative;
}

.bmi-content-section .custom-box-div {
  padding: 20px 5px;
  margin: 0 0 8px 0;
  position: relative;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bmi-content-section .custom-box-div .img-div {
  width: 80px;
  padding: 0 10px;
  position: relative;
}

.bmi-content-section .custom-box-div img.img-responsive {
  height: 56px;
  width: 56px;
  border-radius: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.bmi-content-section .custom-box-div h4 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.bmi-content-section .custom-box-div p {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  color: #000000;
  font-weight: 300;
}

.bmi-content-section .container.container-custom {
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
}

@media (max-width: 767px) {
  .middle-area-div {
    overflow-x: hidden;
  }
  .middle-area-div .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .middle-area-div .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .middle-area-div .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .middle-area-div .box-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .bmi-calculator-section .bmi-calc-root h1 {
    margin: 0 auto 20px auto;
    padding: 0 0 15px 0;
    font-size: 30px;
    line-height: 48px;
  }
  .bmi-calculator-section .bmi-calc-root p {
    font-size: 16px;
  }
  .bmi-calculator-section .bmi-calc-root .calc-search-form .calc-group-div {
    max-width: 100%;
    margin: 40px auto 0px auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bmi-calculator-section .bmi-calc-root .calc-search-form .calc-input-group {
    width: 100%;
    padding: 0px 0px;
  }
  .bmi-calculator-section .bmi-calc-root .calc-search-form .calc-button-group {
    width: 100%;
    padding: 0px 0px;
  }
  .bmi-calculator-section .bmi-calc-root .calc-search-form .form-control {
    min-height: 64px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  .bmi-calculator-section .bmi-calc-root .calc-search-form .form-control.border-left {
    border-left: 0px solid rgba(151, 151, 151, 0.2);
    border-top: 1px solid rgba(151, 151, 151, 0.2);
  }
  .bmi-content-section .bmi-content-root {
    padding: 50px 0 20px 0;
  }
  .bmi-content-section .bmi-content-root .number-div h2 {
    font-size: 60px;
    line-height: 60px;
    padding: 0 15px 0 0;
    margin: 0;
  }
  .bmi-content-section .bmi-content-root .number-div span.text-300 {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  .bmi-content-section .bmi-content-root .text-content-div h4 {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 28px;
  }
  .bmi-content-section .bmi-content-root .text-content-div p {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .bmi-content-section .bmi-content-box {
    padding: 20px 0 50px 0;
  }
  .bmi-content-section .custom-box-div h4 {
    font-size: 16px;
  }
  .bmi-content-section .custom-box-div p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .middle-area-div {
    overflow-x: hidden;
  }
  .middle-area-div .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .middle-area-div .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .middle-area-div .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .bmi-content-section .bmi-content-root {
    padding: 50px 0 20px 0;
  }
  .bmi-content-section .bmi-content-box {
    padding: 20px 0 50px 0;
  }
}
/*# sourceMappingURL=style.css.map */